doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div(id='landing-header')
            h1 Welcome to YelpCamp!
            a(href='/campgrounds' class='btn btn-lg btn-success') View All Campgrounds
        ul(class='slideshow')
            li
            li
            li
            li
            li